<div class="h-full w-full flex justify-center items-center flex-col">
  <div>
    <div class="w-[40vw] flex justify-center items-center flex-col relative">
      <img src="/assets/pokemon/snorlax.webp" alt="Snorlax" class="w-[30vw] z-10">
      <img src="/assets\trees\tree.png" alt="tree" class="absolute z-0 top-[-3vh] left-[20vw]">
      <img src="/assets\trees\tree.png" alt="tree" class="absolute z-0 left-[30vw]">
      <img src="/assets\trees\tree.png" alt="tree" class="absolute z-0 top-[-3vh] right-[20vw]">
      <img src="/assets\trees\tree.png" alt="tree" class="absolute z-0 right-[30vw]">
      <p class="absolute top-[-5vh] text-[6vw]">404</p>
    </div>
  </div>
  <div class="w-full flex justify-center flex-col items-center relative">
    <p class="text-[6vw]">Oops! A whild Snorlax blocks your way</p>
    <div class="w-[10vw] h-[10vh]">
      <button [routerLink]="'/'" class="pixel-corners bg-white w-[10vw] h-[7vh] hover:bg-gray-200 cursor-pointer">Go back</button>
    </div>
  </div>
</div>
