@media only screen and (min-width: 900px) {
  .main {
    display: flex;
  }
}

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px);
  position: relative;
}
.pixel-corners {
  border: 8px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(8px 24px,
    12px 24px,
    12px 16px,
    16px 16px,
    16px 12px,
    24px 12px,
    24px 8px,
    calc(100% - 24px) 8px,
    calc(100% - 24px) 12px,
    calc(100% - 16px) 12px,
    calc(100% - 16px) 16px,
    calc(100% - 12px) 16px,
    calc(100% - 12px) 24px,
    calc(100% - 8px) 24px,
    calc(100% - 8px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 8px),
    24px calc(100% - 8px),
    24px calc(100% - 12px),
    16px calc(100% - 12px),
    16px calc(100% - 16px),
    12px calc(100% - 16px),
    12px calc(100% - 24px),
    8px calc(100% - 24px));
}
.pixel-corners::after{
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px,
    0px 50%,
    8px 50%,
    8px 24px,
    12px 24px,
    12px 16px,
    16px 16px,
    16px 12px,
    24px 12px,
    24px 8px,
    calc(100% - 24px) 8px,
    calc(100% - 24px) 12px,
    calc(100% - 16px) 12px,
    calc(100% - 16px) 16px,
    calc(100% - 12px) 16px,
    calc(100% - 12px) 24px,
    calc(100% - 8px) 24px,
    calc(100% - 8px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 8px),
    24px calc(100% - 8px),
    24px calc(100% - 12px),
    16px calc(100% - 12px),
    16px calc(100% - 16px),
    12px calc(100% - 16px),
    12px calc(100% - 24px),
    8px calc(100% - 24px),
    8px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -8px;
}


/* ----------------------------------------- */

.pixel-border,
.pixel-border--wrapper {
  clip-path: polygon(0px calc(100% - 12px),
    4px calc(100% - 12px),
    4px calc(100% - 8px),
    8px calc(100% - 4px),
    12px calc(100% - 4px),
    12px 100%,
    calc(100% - 12px) 100%,
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 12px),
    100% calc(100% - 12px),
    100% 12px,
    calc(100% - 4px) 12px,
    calc(100% - 4px) 8px,
    calc(100% - 8px) 4px,
    calc(100% - 12px) 4px,
    calc(100% - 12px) 0px,
    12px 0px,
    12px 4px,
    8px 4px,
    4px 8px,
    4px 12px,
    0px 12px);
  position: relative;
}
.pixel-border {
  border: 8px solid transparent;
}
.pixel-border--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-border--wrapper .pixel-border {
  display: block;
  clip-path: polygon(8px 16px,
    12px 16px,
    12px 12px,
    16px 12px,
    16px 8px,
    calc(100% - 16px) 8px,
    calc(100% - 16px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 16px,
    calc(100% - 8px) 16px,
    calc(100% - 8px) calc(100% - 16px),
    calc(100% - 12px) calc(100% - 16px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 16px) calc(100% - 12px),
    calc(100% - 16px) calc(100% - 8px),
    16px calc(100% - 8px),
    16px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 16px),
    8px calc(100% - 16px));
}
.pixel-border::after,
.pixel-border--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 12px),
    4px calc(100% - 12px),
    4px calc(100% - 8px),
    8px calc(100% - 4px),
    12px calc(100% - 4px),
    12px 100%,
    calc(100% - 12px) 100%,
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 12px),
    100% calc(100% - 12px),
    100% 12px,
    calc(100% - 4px) 12px,
    calc(100% - 4px) 8px,
    calc(100% - 8px) 4px,
    calc(100% - 12px) 4px,
    calc(100% - 12px) 0px,
    12px 0px,
    12px 4px,
    8px 4px,
    4px 8px,
    4px 12px,
    0px 12px,
    0px 50%,
    8px 50%,
    8px 16px,
    12px 16px,
    12px 12px,
    16px 12px,
    16px 8px,
    calc(100% - 16px) 8px,
    calc(100% - 16px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 16px,
    calc(100% - 8px) 16px,
    calc(100% - 8px) calc(100% - 16px),
    calc(100% - 12px) calc(100% - 16px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 16px) calc(100% - 12px),
    calc(100% - 16px) calc(100% - 8px),
    16px calc(100% - 8px),
    16px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 16px),
    8px calc(100% - 16px),
    8px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--border-color);
  /* background: #ff353a; */
  display: block;
  pointer-events: none;
}
.pixel-border::after {
  margin: -8px;
}


/* ------------------------------------- */

.pokemon-list,
.pokemon-list--wrapper {
  clip-path: polygon(0px calc(100% - 16px),
    4px calc(100% - 16px),
    4px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 4px),
    16px calc(100% - 4px),
    16px 100%,
    calc(100% - 16px) 100%,
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 16px),
    100% calc(100% - 16px),
    100% 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 0px,
    16px 0px,
    16px 4px,
    8px 4px,
    8px 8px,
    4px 8px,
    4px 16px,
    0px 16px);
  position: relative;
}
.pokemon-list {
  border: 8px solid transparent;
}
.pokemon-list--wrapper {
  width: fit-content;
  height: fit-content;
}
.pokemon-list--wrapper .pokemon-list {
  display: block;
  clip-path: polygon(8px 20px,
    12px 20px,
    12px 12px,
    20px 12px,
    20px 8px,
    calc(100% - 20px) 8px,
    calc(100% - 20px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 20px,
    calc(100% - 8px) 20px,
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 12px) calc(100% - 20px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 20px) calc(100% - 12px),
    calc(100% - 20px) calc(100% - 8px),
    20px calc(100% - 8px),
    20px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 20px),
    8px calc(100% - 20px));
}
.pokemon-list::after,
.pokemon-list--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 16px),
    4px calc(100% - 16px),
    4px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 4px),
    16px calc(100% - 4px),
    16px 100%,
    calc(100% - 16px) 100%,
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 16px),
    100% calc(100% - 16px),
    100% 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 0px,
    16px 0px,
    16px 4px,
    8px 4px,
    8px 8px,
    4px 8px,
    4px 16px,
    0px 16px,
    0px 50%,
    8px 50%,
    8px 20px,
    12px 20px,
    12px 12px,
    20px 12px,
    20px 8px,
    calc(100% - 20px) 8px,
    calc(100% - 20px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 20px,
    calc(100% - 8px) 20px,
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 12px) calc(100% - 20px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 20px) calc(100% - 12px),
    calc(100% - 20px) calc(100% - 8px),
    20px calc(100% - 8px),
    20px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 20px),
    8px calc(100% - 20px),
    8px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}
.pokemon-list::after {
  margin: -8px;
}
