<nav class="h-full pt-2 overflow-hidden bg-red-400">
    <svg class="pokedex-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 24" width="60" height="80"
        style="image-rendering: pixelated" [style.--bg]="bg" [style.--border-outer]="outer"
        [style.--arrow-inner]="arrowInner" [style.--arrow-border]="arrowBorder" (click)="previousPokemon()" class="cursor-pointer">
        <g fill="var(--arrow-border)">
            <!-- Línea vertical (6 px lógicos = 12) -->
            <rect x="16" y="0" width="2" height="22" />

            <!-- Línea horizontal (3 px lógicos) -->
            <rect x="12" y="0" width="6" height="2" />
            <rect x="12" y="22" width="6" height="2" />

            <!-- Diagonal Up Down -->
            <rect x="10" y="0" width="2" height="4" />
            <rect x="8" y="2" width="2" height="4" />
            <rect x="6" y="4" width="2" height="4" />
            <rect x="4" y="6" width="2" height="4" />
            <rect x="2" y="8" width="2" height="4" />
            <rect x="0" y="10" width="2" height="4" />

            <!-- Diagonal Down Up -->
            <rect x="2" y="12" width="2" height="4" />
            <rect x="4" y="14" width="2" height="4" />
            <rect x="6" y="16" width="2" height="4" />
            <rect x="8" y="18" width="2" height="4" />
            <rect x="10" y="20" width="2" height="4" />
        </g>

        <g fill="var(--arrow-inner)">
            <rect x="12" y="2" width="4" height="20" />
            <rect x="10" y="4" width="2" height="16" />
            <rect x="8" y="6" width="2" height="12" />
            <rect x="6" y="8" width="2" height="8" />
            <rect x="4" y="10" width="2" height="4" />
        </g>
    </svg>

    @if (loaded()) {
      @for (button of NAV_BUTTONS; track button) {
        <app-pixel-box class="cursor-pointer" [routerLink]="['/details', currentPokemon()?.id, button]" backgroundColor="#ff3c41" borderInnerColor="#b22a2d" borderOuterColor="#000000" textColor="#ffffff"
        [svgCode]="navSVGs()[button]" [name]="button"></app-pixel-box>
      }
    }

    <svg class="pokedex-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 24" width="60" height="80"
        style="image-rendering: pixelated" [style.--bg]="bg" [style.--border-outer]="outer"
        [style.--arrow-inner]="arrowInner" [style.--arrow-border]="arrowBorder" (click)="nextPokemon()" class="cursor-pointer">
        <g fill="var(--arrow-border)">
            <!-- Línea vertical (6 px lógicos = 12) -->
            <rect x="0" y="0" width="2" height="22" />

            <!-- Línea horizontal (3 px lógicos) -->
            <rect x="0" y="0" width="6" height="2" />
            <rect x="0" y="22" width="6" height="2" />

            <!-- Diagonal Up Down -->
            <rect x="6" y="0" width="2" height="4" />
            <rect x="8" y="2" width="2" height="4" />
            <rect x="10" y="4" width="2" height="4" />
            <rect x="12" y="6" width="2" height="4" />
            <rect x="14" y="8" width="2" height="4" />
            <rect x="16" y="10" width="2" height="4" />

            <!-- Diagonal Down Up -->
            <rect x="14" y="12" width="2" height="4" />
            <rect x="12" y="14" width="2" height="4" />
            <rect x="10" y="16" width="2" height="4" />
            <rect x="8" y="18" width="2" height="4" />
            <rect x="6" y="20" width="2" height="4" />
        </g>

        <g fill="var(--arrow-inner)">
            <rect x="2" y="2" width="4" height="20" />
            <rect x="6" y="4" width="2" height="16" />
            <rect x="8" y="6" width="2" height="12" />
            <rect x="10" y="8" width="2" height="8" />
            <rect x="12" y="10" width="2" height="4" />
        </g>
    </svg>
    <div [routerLink]="'/'" class="absolute top-[1vh] left-[1vh] w-[4vw] h-[4vh] bg-red-600 hover:bg-red-700 border-4 border-black rounded-2xl cursor-pointer text-white flex justify-center items-center">
      <p>Go back</p>
    </div>
</nav>
